XML/students.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="students">
<xs:complexType>
<xs:sequence>

<xs:element name="student" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="studentId" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="semester" type="xs:integer"/>

<xs:element name="subjects">
<xs:complexType>
<xs:sequence>

<xs:element name="subject" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="subjectName" type="xs:string"/>
<xs:element name="marks" type="xs:integer"/>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>